/* TravelNet Portal - Main Stylesheet */
@import url('./core/variables.css');
@import url('./core/base.css');
@import url('./components/network-items.css');
@import url('./components/status-cards.css');
@import url('./components/buttons.css');
@import url('./components/modals.css');
@import url('./components/vpn.css');
@import url('./components/system-settings.css');
@import url('./utils/animations.css');
@import url('./utils/responsive.css');